@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: swap;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("woff2");
  }
}

@layer components {
  .li {
    @apply p-4 text-dark-grayish-blue text-base hover:text-soft-red max-sm:text-[30px] max-sm:text-very-dark-blue max-sm:ml-5;
  }
}